@page
@model KoiShowManagement.RazorWepApp.Pages.CompetitionCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompetitionCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.MinSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.MinSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.MaxSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.MaxSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.MinAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.MinAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.MaxAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.MaxAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.JudgingCriteria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.JudgingCriteria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.WeightPercentageForShape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.WeightPercentageForShape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.WeightPercentageForColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.WeightPercentageForColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.WeightPercentageForPattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.WeightPercentageForPattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.RequiredHealthStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.RequiredHealthStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.RequiredDocuments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.RequiredDocuments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.CompetitionFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.CompetitionFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.MaxParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.PrizeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.PrizeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.Competition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.Competition.CompetitionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionCategory.Variety)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionCategory.Variety.VarietyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CompetitionCategory?.CategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
