@page
@model KoiShowManagement.RazorWepApp.Pages.CompetitionCategories.IndexModel


@{
    ViewData["Title"] = "Index";
    // String RoleId = HttpContext.Session.GetString("RoleId");

}
   <a asp-page="Create">Create New</a>
   

        <form method="get" asp-page="Index">
            <table>
                <tr>
                    <td><label for="minSize">Min Size:</label></td>
                    <td><input type="text" id="minSize" name="minSize" value="@Model.MinSize" /></td>
                </tr>
                <tr>
                    <td><label for="judgingCriteria">Judging Criteria:</label></td>
                    <td><input type="text" id="judgingCriteria" name="judgingCriteria" value="@Model.JudgingCriteria" /></td>
                </tr>
                <tr>
                    <td><label for="requiredDocuments">Required Documents:</label></td>
                    <td><input type="text" id="requiredDocuments" name="requiredDocuments" value="@Model.RequiredDocuments" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit">Search</button>
                    </td>
                </tr>
            </table>
        </form>





        <table class="table" id="idTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].MinSize)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].MaxSize)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].MinAge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].MaxAge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].JudgingCriteria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].WeightPercentageForShape)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].WeightPercentageForColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].WeightPercentageForPattern)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].RequiredHealthStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].RequiredDocuments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].CompetitionFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].MaxParticipants)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].PrizeDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].Competition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompetitionCategory[0].Variety)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CompetitionCategory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JudgingCriteria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightPercentageForShape)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightPercentageForColor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightPercentageForPattern)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequiredHealthStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequiredDocuments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompetitionFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxParticipants)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrizeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Competition.CompetitionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Variety.VarietyName)
                        </td>
                        // @{
                        //     if (RoleId == "1")
                        //     {
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                                </td>
                            }
                        // }
                       
                    </tr>
                }
            </tbody>


        </table>



        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/table-pagination.js"></script>
        <script>
            $("#idTable").createTablePagination({
                rowPerPage: 5,
            });
        </script>

  





       