@page
@model FA24_PRN221_3W_G6_KoiShowManagement.Pages.FinalResultsPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FinalResult</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.ResultName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.ResultName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.ResultDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.ResultDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.TotalScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.TotalScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.IsFinalized)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.IsFinalized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.IsPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.IsPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.PrizeAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.PrizeAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.PrizeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.PrizeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.CategoryNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.CategoryNavigation.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalResult.Competition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalResult.Competition.CompetitionId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FinalResult.CompetitionResultId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
