@page
@model KoiShowManagement.RazorWebApps.Pages.RegistrationPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.CheckInStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.CheckInStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.ApprovalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.ApprovalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.HealthStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.HealthStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Shape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Shape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Pattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Pattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Animal.AnimalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.Competition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.Competition.CompetitionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.User.Username)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Registration.RegistrationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
